name: Integration

on:
  pull_request:
    branches: [ main ]

jobs:
  CI:
    uses: HydrologicEngineeringCenter/dotnet-workflows/.github/workflows/integration.yml@main
    with:
      dotnet-version: '9.0.x'
      run-tests: true
