name: Snapshot

on:
  push:
    branches: [ main ]

jobs:
  build:
    uses: HydrologicEngineeringCenter/dotnet-workflows/.github/workflows/snapshot.yml@main
    with:
      dotnet-version: '9.0.x'
      project-names: 'Numerics'
      run-tests: true
      nuget-source: 'https://www.hec.usace.army.mil/nexus/repository/consequences-nuget-public/'
    secrets:
      NUGET_API_KEY: ${{ secrets.NEXUS_NUGET_APIKEY }}
